<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/desktop"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
       >


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBT6mIzxiEbtjOySvozOcK3DOmbrv3L9SU" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Main2Activity" />
        <activity android:name=".BuddyForm" />
        <activity android:name=".TeacherForm" />
        <activity android:name=".AdminForm" />
        <activity
            android:name=".SplashScreen"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DriveActivity"
            android:noHistory="true">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name=".StudentForm"></activity>
        <activity android:name=".Main2Activity"></activity>
    </application>

</manifest>